* {
   box-sizing: border-box;
   margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #fff;
}

body {
   font-family: 'Roboto-Condensed', sans-serif;
   line-height: 28px;
   font-size: 24px;
   font-weight: 400;
   color: #fff;
   background-color: #0B0B0B;
}

.header {
   height: 100vh;
   position: absolute;
   z-index: 5;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.3);
}

.container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.header-top {
   display: flex;
   justify-content: space-between;
}

.logo {
   padding-top: 36px;
   margin-bottom: 29px;
}

.header-btn {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   height: 60px;
   width: 60px;
   margin-top: 31px;
   border: 1px solid #fff;
   background-color: rgba(255, 255, 255, 0.1);
   cursor: pointer;
}

.header-btn div {
   width: 36px;
   height: 2px;
   background-color: #fff;
   margin: 5px 0;
}

.header-content__title {
   margin-bottom: 40px;
   font-size: 96px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
   line-height: 112px;
}

.header-content__text {
   width: 284px;
   margin-bottom: 25px;
}

.button {
   display: inline-block;
   padding: 31px 62px;
   background-color: rgba(255, 255, 255, 0.15);
   border: 1px solid #fff;
   transition: all .5s;
}

.button:hover {
   background-color: #770302;
}

.menu {
   background-color: #000;
   position: absolute;
   top: 0;
   left: -150%;
   width: 100%;
   z-index: 7;
   transition: all .5s;
}

.menu.active {
   left: 0;
}

.container-menu {
   position: relative;
}

.close-btn {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 31px;
   right: 15px;
   cursor: pointer;
}

.close-btn::after, .close-btn::before {
   content: "";
   width: 70px;
   height: 2px;
   background-color: #fff;
   position: absolute;
   transform-origin: left;
}

.close-btn::after {
   transform: rotate(45deg);
}

.close-btn::before {
   transform: rotate(-45deg);
   bottom: -1px;
}

.menu__list {
   height: 100vh;
   display: flex;
   align-items: center;
}

.menu__list ul {
   list-style: none;
   padding-left: 0;
}

.menu__list a {
   font-size: 48px;
   line-height: 56px;
   font-weight: 700;
   padding: 30px 25px 14px 0;
   border-bottom: 3px solid #B70021;
   min-width: 368px;
   display: inline-block;
   transition: all .5s;
   width: 100%;
}

.menu__list a:hover {
   border-color: #fff;
   color: #B70021;
   transform: scale(1.2);
   margin-left: 37px;
}

/* slider */

.slider__item {
   height: 100vh;
   background: center/cover no-repeat;
   position: relative;
}

.slider .slick-dots button {
   padding: 0;
   border: none;
   font-size: 0;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #0B0B0B;
   cursor: pointer;
   outline: none;
}

.slider .slick-dots .slick-active button {
   background-color: #fff;
}

.slider .slick-dots li {
   display: inline-block;
   margin: 0 5px;
}

.slider .slick-dots {
   list-style: none;
   position: relative;
   /* position: absolute; */
   z-index: 6;
   margin: -55px auto 0;
   max-width: 1230px;
   padding: 0 15px;
}

/* statistics */

.statistics {
   margin: 160px 0 100px;
}

.statistics-items {
   display: flex;
   justify-content: space-around;
   text-align: center;
}

.statistics-item__title {
   margin-bottom: 19px;
}

.statistics-item__num {
   font-size: 96px;
   line-height: 112px;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 7px;
}

.statistics-item__num span {
   font-family: 'Roboto-Condensed', sans-serif;
   line-height: 28px;
   font-size: 24px;
}

.statistics-item__descr {
   color: #B70021;
}

.statistic-item__num--speed span {
   display: inline-block;
   position: relative;
}

.statistic-item__num--speed span::before {
   content: "+";
   position: absolute;
   color: #fff;
   top: -60px;
   left: 0;
}

.video {
   margin-bottom: 100px;
}

.advantages__row {
   margin-bottom: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.advantages-descr {
   max-width: 570px;
   width: 100%;
}

.advantages__title {
   font-size: 36px;
   line-height: 42px;
   color: #B70021;
   position: absolute;
   top: 0;
}

.advantages__title--bottom {
   right: 0;
   bottom: 0;
   top: auto;
}

.advantages__text {
   width: 303px;
}

.advantages__text ul {
   list-style: none;
   padding-left: 0;
}

.design__images {
   margin-bottom: 100px;
}

.design-row {
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}

.design-row__item {
   max-width: 570px;
   padding-right: 15px;
   display: flex;
}

.design-row__item-num {
   color: #B70021;
   margin-right: 75px;
}

.design-row__item-text {
   max-width: 450px;
   padding-top: 30px;
}

.footer {
   padding: 83px 0 20px;
   background-color: #690102;
}

.footer-btn {
   margin-bottom: 83px;
   text-align: center;
}

.footer-copy {
   font-weight: 700;
   text-align: center;
}

.footer-copy ul {
   list-style: none;
   padding-left: 0;
}

.footer-copy li {
   display: inline-block;
}

.footer-copy li+li::before {
   content: "|";
   margin: 0 10px;
}